.todo-inner{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.todo-inner-header{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

